h1,
h2 {
    text-align: center;
}

h2 {
    margin-block: .4rem;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: .4rem 1rem;
    max-width: 400px;
    margin: 0 auto;
}

.text {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
}

.text input {
    width: 6rem;
    padding: .1rem .6rem;
}

p {
    margin: 0;
}

.text .currency {
    margin: 0;
    font-family: monospace, monospace;
    font-weight: bold;
}